/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    display:block;
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 70px;
}


.navigation {
  padding-top: 35px;
  height: 178px;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-bottom:36px;
}

/* .header_overlay {
  background-color: rgba(26, 25, 21, 0.3);
  width: 100%;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
} */

.button_container {
  margin: 0 auto;
  display: flex;
}

.login {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0;
  position: relative;
  text-align: center;
  width: 75px;
  height: 16px;
}

.sign {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0; 
  text-align: center;
  position: relative;
  width: 75px;
  height: 16px;
}

.sign:hover::before{
  display: block;
  width: 90px;
  height: 36px;
  content: "";
  background-image: url("../img/sign_frame.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -8px;
}

.login:hover::before{
  display: block;
  width: 90px;
  height: 36px;
  content: "";
  background-image: url("../img/sign_frame.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -8px;
}

.header_small_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 1px; 
  text-transform: uppercase;
}

.header_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0; 
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  letter-spacing: 0; 
  text-align: center;
  margin: 0 auto;
  margin-bottom: 18px;
}

.header_link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 0; 
  text-align: center;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  height: 40px;
  padding-top: 12px;
}


/* MAIN */

.main {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.main_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  letter-spacing: 0; 
  text-align: center;
  margin: 0 auto;
  margin-bottom: 18px;
}

.partner_list {
text-align: center;
margin-bottom: 28px;
}

.partner_img {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 22px;
}

.image {
  display: block;
  margin: 0 auto;
}

.tv::before {
  content: "";
  display: inline-block;
  background-image: url("../img/tv_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: #ff4e50;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  right: 0;
}

.flask::before {
  content: "";
  display: inline-block;
  background-image: url("../img/flasc_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: #ffa507;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  right: 0;
}

.coffee::before {
  content: "";
  display: inline-block;
  background-image: url("../img/coffee_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: #1cd7ad;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  right: 0;
}

.telegram::before {
  content: "";
  display: inline-block;
  background-image: url("../img/telegram_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: #4e73db;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  bottom: 0;
  right: 0;
}

.partner_name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  letter-spacing: 0; 
  margin-bottom: 20px;
}

.partner_text {
  width: 226px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  letter-spacing: 0; 
  margin: 0 auto;
}


.button {
  display: block;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 280px;
  height: 40px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ff4e50;
  letter-spacing: 0; 
  cursor: pointer;
}

/* MEDIA MOBILE*/

@media (min-width:320px) and (max-width:767px) {
  .partner_list_item:not(:last-child) {
    margin-bottom: 28px;
  }
  .button_container{
    margin: 0 auto;
  }

  .navigation {
    padding-top: 35px;
    height: 178px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-bottom:36px;
  }

  .header_text {
    width: 222px;
    margin-bottom: 18px;
  }
}

/* MEDIA TABLET */

@media (min-width:768px) and (max-width:1439px) {
  .header {
    height: 700px;
    position: relative;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 74px;
  }
  
  .navigation {
    padding-top: 50px;
    display: flex;
    width: 670px;
    flex-direction:row-reverse;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 154px;
  }

  .button_container {
    margin: 0;
  }

  .header_title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 40px;
  }

  .header_text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .main {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .main_title {
    margin-bottom: 34px;
  }
  
  .partner_list_item {
    width: 236px;
  }
  .partner_list {
    width: 492px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 38px;
    }
  
    .hunter {
      order: 1;
      margin-bottom: 60px;
    }
    
    .lucas {
      order: 3;
    }

    .heather {
      order: 2;
      margin-bottom: 60px;
    }

    .bradley {
      order:4;
    }
}

/* MEDIA DESKTOP */