//FONTS

$main-title-font: "Montserrat", sans-serif;
$decorated-title-font:"Kaushan Script", sans-serif;
$main-text-font:"Roboto", sans-serif;

//COLORS

$secondary-font-color: #ffffff;
$hover-main-color: #fce38a;
$main-text-color:#999999;
$secondary-title-color:#333333;
$decoration-element-color:#f38181;
$accent-color:#95e1d3;
$footer-form-text-color:#cccccc;
$border-footer-form-color: rgb(231, 231, 231);
$line-after-team-color: rgb(229, 229, 229);

